<!DOCTYPE html>
<html>
	<head>
		<title>KFet Info - <%= title %></title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/assets/css/kfet.css" />
		<script src="/assets/js/kfet.js"></script>
	</head>
	<body>
		<header>
			<h1>KFet Info - <%= title %></h1>
		</header>
		<nav>
			<span class="left">
				<a href=".">Accueil</a>
				<% if(showControls) { %>
					<span class="loggedin direct">
						<a href="#" onclick="setMode('normal');" class="mode">Normal</a>
						<a href="#" onclick="setMode('error');" class="mode">Erreur</a>
					</span>
				<% } %>
			</span>
			<span class="right">
				<span class="loggedin direct">
					<a href="#" class="login" onclick="logout();">Logout</a>
				</span>
				<span class="notloggedin direct">
					<a href="login" class="login">Login</a>
				</span>
			</span>
		</nav>
		<main>
			<%- include(page+'.ejs', data); %>
		</main>
		<footer>
			©BDE Info 2019 - Nathan DÉCHER | Codinget
		</footer>
	</body>
</html>

