<form onsubmit="login(); return false;" id="loginform">
	<label for="password">Mot de passe</label>
	<input id="password" type="password" placeholder="Mot de passe" />
	<input type="submit" />
</form>
