<!DOCTYPE html>
<html>
<head>
<title><%= page.name || page.title %></title>
<%- include('head.ejs') _%>
</head>
<body>
<header>
<%- include('header.ejs') _%>
</header>
<section id="global">
<nav id="globalNav">
<%- include('nav.ejs') _%>
</nav>
<section id="main">
